.nav{
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}


.item {
    color: white;
}

.item a{
    text-decoration: none;
}

.active{
    color:gold;
}

a:active{
    color:black;
    transform: scale(0.2);
}
